.thumbnail img {
    width: 100%;
    display: block;
    cursor: pointer;


}

.thumbnail {
    position: relative;
}

.video-title {
    width: 100%;
    display: flex;

}


.video-card {
    width: 100%;

}


.video-title img {
    width: 35px;
    border-radius: 50px;
    height: 35px;
    margin-top: 9px;


}

.video-title p {
    margin-top: 9px;
    margin-left: 10px;



}

.channel-author p {
    color: rgb(96, 96, 96);
    margin-top: 0px;
    margin-left: 45px;
    margin-bottom: 2px;
    font-size: 13px;
}

.channel-author p1 {
    color: rgb(96, 96, 96);
    margin-top: 0px;
    margin-left: 45px;
    font-size: 13px;
}

.video-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 40px;
    padding-top: 90px;
    padding-left: 90px;
    padding-right: 10px;



}
.completed:hover, .video-card:hover{
   
    box-shadow: 0 8px 10px rgba(0,0,0,0.1);
    transform: scale(1.03);
    transition: 0.5s;
}




@media(max-width:1200px) {
    .video-flex {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media(max-width:1000px) {
    .video-flex {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:800px) {
    .video-flex {
        grid-template-columns: repeat(2, 1fr);
    }
}

.time {
    position: absolute;
    bottom: 6px;
    right: 6px;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 12px;
    padding: 2px 4px;
    border-radius: 2px;
    font-weight: 500;
}